<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DbCon"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\ProjectEmployeeInformationSystem\EmployeeInformationSystem\App_Data\Database1.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>